@use 'utility';
@use 'components';

.docs-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
}

.docs-content-header {
    text-align: center;
    max-width: 50%;
}

.docs-content-header-subtext {
    color: utility.$light-gray;
}

.docs-main-container {
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding:1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:4rem;
}

.docs-navigation {
    @include utility.rounded;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0 3rem;
    margin-bottom: 3rem;
    border-style: none;
    background-color: darken(utility.$background, 5%);
    height: fit-content;

    ul {
        padding-left: 1rem;
        list-style-type: none;
    
        li {
            font-size: utility.$regular;
            font-weight: utility.$thin;
            color: utility.$primary-color;
            list-style: none;
            background-image: url(../img/doc-tick.svg);
            background-position: left, center;
            background-repeat: no-repeat;
            line-height: 1.5em;
            padding: 0 1rem;
            cursor: pointer;
        
                a, a:visited {
                    text-decoration: none;
                    color: darken(utility.$primary-color, 20%);
                }
                
                a:hover, a:active {
                    text-decoration: none;
                    color: utility.$secondary-color;
                }
            }
      }

}

.doc-nav-header {
    font-size: utility.$large;
    font-weight: utility.$medium;
    color: utility.$primary-color;
    text-transform: uppercase;
    list-style: none;
}

hr {
    color:utility.$background;
    border:none;
    margin: 1.2rem;
}

.docs-image {
    margin: 2rem 0;
}

.docs-content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    max-width: 900px;
}

.docs-content-module {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .75rem;
    padding: 0 1rem;
}

.docs-content-module-title {
    font-size: utility.$large;
    font-weight: utility.$semibold;
    color: utility.$secondary-color;
    text-transform: uppercase;
}

.code-body {
    @include utility.rounded;
    display: block;
    font-family: utility.$mono;
    font-size: utility.$regular;
    font-weight: utility.$thin;
    color: utility.$primary-color;
    line-height: 2rem;
    background-color: darken(utility.$background, 10%);
    border: 1px solid darken(utility.$background, 15%);
    background-repeat: no-repeat;
    background-position: top right;
    padding: 2rem 2rem;
}

.code-purple {
    color: utility.$purple;
    font-weight: utility.$semibold;
}

.code-copy-container {
    float: right;

        img {
            opacity: 50%;
            cursor: pointer;
        }
        
        img:hover {
            opacity: 100%;
        }
}

#code-top-btn {
    display: block;
    width: 48px;
    height: 48px;
    background-color: rgb(34, 34, 34, .0);
    border-style:none;
    border-radius: 50%;
    position: fixed;
    bottom: 50%;
    right: 10%;
    z-index: 99;
    opacity: 50%;
    cursor: pointer;

    img {
        opacity: 100%;
    }
}

@media (max-width:800px) {
    
    .docs-header-container {
        padding: 5rem 1rem;
    }
    
    .docs-content-header {
        max-width: 100%;
    }

    .docs-main-container {
        margin-top: 1rem;
        display: block;
    }
}