// Fonts
$sans: 'Open Sans', sans-serif;
$mono: 'Fira Code', monospace;
// Font Sizes
$logo:2rem;
$smaller:14px;
$small:18px;
$regular:20px;
$medium:24px;
$large:30px;
$xl:42px;
$xxl:64px;
//Font Weights
$thin:300;
$regular:400;
$semibold:600;
$bold:800;
// Colors
$primary-color: #FFFFFF;
$secondary-color: #00FFC2;
$offwhite:#F1F1F1;
$black: #222222;
$gray: #666666;
$light-gray: #cccccc;
$dark-gray: #333333;
$red: #F24E1E;
$green: #0FA958;
$blue: #00A3FF;
$purple: #A02B98;
$background: #3C535C;
// Gradients
$hero-gradient-start:#3C535C;
$hero-gradient-end:rgb(227, 78, 250, .25);
// Corners
$radius:5px;
@mixin rounded {
    border-radius: $radius;
}