@use 'utility';
@use 'components';
@import 'Action';
@import 'Footer';
@import 'Hero';
@import 'Navbar';
@import 'Pricing';
@import 'Testimonials';
@import 'Docs';
@import 'Contact';
@import 'Blog';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: utility.$sans;
    font-size: utility.$regular;
}

body {
    background-color: utility.$background;
    color: utility.$primary-color;
}

h1 {
    font-size: utility.$xxl;
    font-weight: utility.$bold;
    color: utility.$primary-color;
}

h1.pricing {
    font-size: utility.$xxl;
    font-weight: utility.$bold;
    color: utility.$background;
}

h2 {
    font-size: utility.$xl;
    font-weight: utility.$semibold;
}

h3 {
    font-size: utility.$medium;
    font-weight: utility.$semibold;
    color: utility.$gray;
}

h4 {
    font-size: utility.$large;
    font-weight: utility.$semibold;
}

.error-container {
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    min-height: 100vh;
}

.error-link {
    text-decoration: none;
    font-family: utility.$mono;
    font-size: utility.$large;
    color: utility.$primary-color;
}