.action-container {
  padding: 5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #222222;
}

.action-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2em;
}

.action-text {
  color: #cccccc;
  font-size: 24px;
  font-weight: 300;
  max-width: 30rem;
}

.view-docs {
  border-radius: 5px;
  padding: 1em 2em;
  font-size: 400;
  font-weight: 600;
  color: #222222;
  border-style: none;
  cursor: pointer;
  color: #FFFFFF;
  background: #A02B98;
  width: 100%;
}

.view-docs:hover {
  background: #c836be;
}

.action-img {
  width: 10rem;
}

@media (max-width: 800px) {
  .action-container {
    padding: 3rem 0;
    display: block;
    text-align: center;
  }

  .action-img {
    width: 10rem;
    padding-bottom: 1em;
  }
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  background-color: #222222;
  color: #FFFFFF;
  padding: 5rem;
}

.footer-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10rem;
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.footer-links {
  padding: 0;
  align-content: top;
}
.footer-links ul {
  margin: 0;
  list-style: none;
}
.footer-links li {
  font-size: 24px;
  color: #cccccc;
}
.footer-links .footer-link-header {
  font-weight: 600;
  color: #FFFFFF;
}
.footer-links a {
  text-decoration: none;
  color: gray;
}
.footer-links a:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.footer-social-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.footer-social-container img {
  width: 50px;
}

.footer-icon {
  opacity: 50%;
  cursor: pointer;
}

.footer-icon:hover {
  opacity: 100%;
}

.top-container {
  align-self: center;
}

.top-btn {
  background-color: #222222;
  border: none;
  opacity: 50%;
  z-index: 1;
  cursor: pointer;
}

.top-btn:hover {
  opacity: 100%;
}

.footer-copy {
  margin-top: 2rem;
  text-align: center;
}

@media (max-width: 1400px) {
  .footer-container {
    padding: 3rem;
  }

  .footer-links-container {
    display: block;
    text-align: center;
    padding-bottom: 1rem;
  }

  .footer-logo-container {
    display: inline-block;
    text-align: center;
    padding: 1rem 0;
  }

  .footer-logo {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }

  .footer-links {
    padding: 2rem 0;
  }

  .footer-social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
  }
  .footer-social-container img {
    width: 50px;
  }
}
.hero-container {
  margin-top: 15rem;
  width: 100%;
}

.hero-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.hero-title {
  font-size: 64px;
  font-weight: 800;
  max-width: 70rem;
}

.hero-subtitle {
  font-size: 24px;
  max-width: 50rem;
}

.highlight {
  color: #00FFC2;
}

.hero-button-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.sign-up {
  border-radius: 5px;
  padding: 1em 2em;
  font-size: 400;
  font-weight: 600;
  color: #222222;
  border-style: none;
  cursor: pointer;
  background: #00FFC2;
}

.sign-up:hover {
  background-color: #00e6af;
  transition: 0.25s;
}

.learn-more {
  border-radius: 5px;
  padding: 1em 2em;
  font-size: 400;
  font-weight: 600;
  color: #222222;
  border-style: none;
  cursor: pointer;
  background: #FFFFFF;
}

.learn-more:hover {
  background-color: #e6e6e6;
  transition: 0.25s;
}

.hero-image-container {
  margin-top: 10rem;
  width: 100%;
  height: 50rem;
  background: linear-gradient(#3C535C, rgba(227, 78, 250, 0.25));
  justify-self: center;
}

.hero-image {
  background-image: url(../img/shapes.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 100%;
  opacity: 100%;
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 810px) {
  .hero-header {
    padding: 1rem;
  }

  .hero-title {
    font-size: 42px;
    font-weight: 800;
    max-width: 90%;
  }

  .hero-subtitle {
    font-size: 18px;
    max-width: 100%;
  }

  .hero-button-container {
    gap: 1rem;
  }

  .sign-up {
    padding: 1em;
  }

  .learn-more {
    padding: 1em;
  }

  .hero-image-container {
    margin-top: 10rem;
    height: 30rem;
  }

  .hero-image {
    width: 160%;
    height: 30rem;
  }
}
.navbar {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 50px;
}

.logo-set {
  margin-left: 2rem;
  display: flex;
  gap: 0.5em;
}

.logo {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.1em;
}

.logo:hover {
  color: #FFFFFF;
}

#nav-menu {
  margin-right: 2rem;
}

.nav-link {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 24px;
  padding: 1rem;
}

a:hover {
  color: #00FFC2;
}

.icon {
  width: 30px;
}

.github-link {
  width: 24px;
  margin-bottom: -0.15em;
  opacity: 100%;
}

.github-link:hover {
  opacity: 50%;
}

#nav-menu-button-open {
  display: none;
}

#nav-menu-mobile {
  display: none;
}

.nav-links-mobile {
  display: none;
}

@media (max-width: 810px) {
  .logo-set {
    margin-left: 0.5rem;
    align-self: center;
  }

  #nav-menu {
    display: none;
  }

  #nav-menu-button-open {
    margin-top: 0.5em;
    display: block;
    width: 32px;
    height: 32px;
    background-color: #3C535C;
    border: none;
    cursor: pointer;
  }

  #nav-menu-button-close {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #28373d;
    background-image: url(../img/mobile-close.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    align-self: flex-end;
  }

  #nav-menu-mobile {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    padding: 1rem 1rem;
    background-color: #28373d;
  }

  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
.pricing-container {
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-header {
  margin-top: 5rem;
  text-align: center;
}

.pricing-card-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: space-around;
}

.card-basic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem 1rem;
  color: #222222;
  background-color: #FFFFFF;
  width: 30rem;
  border-style: none;
  border-radius: 15px;
  margin-bottom: 5rem;
  box-shadow: 0 0 20px rgba(204, 204, 204, 0.5);
  -webkit-box-shadow: 0 0 20px rgba(204, 204, 204, 0.5);
  -moz-box-shadow: 0 0 20px rgba(204, 204, 204, 0.5);
}

.basic-header {
  font-size: 42px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #333333;
}

.card-standard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem 1rem;
  color: #222222;
  background-color: #FFFFFF;
  width: 30rem;
  border-style: none;
  border-radius: 15px;
  margin-bottom: 5rem;
  box-shadow: 0 0 20px rgba(204, 204, 204, 0.5);
  -webkit-box-shadow: 0 0 20px rgba(204, 204, 204, 0.5);
  -moz-box-shadow: 0 0 20px rgba(204, 204, 204, 0.5);
}

.standard-header {
  font-size: 42px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #00A3FF;
}

.card-pro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem 1rem;
  color: #222222;
  background-color: #FFFFFF;
  width: 30rem;
  border-style: none;
  border-radius: 15px;
  margin-bottom: 5rem;
  box-shadow: 0 0 20px rgba(204, 204, 204, 0.5);
  -webkit-box-shadow: 0 0 20px rgba(204, 204, 204, 0.5);
  -moz-box-shadow: 0 0 20px rgba(204, 204, 204, 0.5);
}

.pro-header {
  font-size: 42px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #A02B98;
}

.price-display {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.5em;
}

h1.price-tag-lg {
  color: #666666;
  font-size: 64px;
}

h5.price-tag-sm {
  color: #666666;
  font-size: 30px;
}

.fineprint {
  margin-top: 2rem;
  font-size: 18px;
  color: #666666;
}

ul {
  margin-top: 2rem;
}

li {
  font-size: 24px;
  color: #666666;
  padding: 0.25em;
}

li.included {
  list-style-image: url(../img/bullet-check.svg);
}

li.excluded {
  list-style-image: url(../img/bullet-x.svg);
}

.basic-buy-now {
  border-radius: 5px;
  margin-top: 2rem;
  padding: 0.5em 4em;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
  border-style: none;
  cursor: pointer;
  background: #333333;
}

.basic-buy-now:hover {
  border-radius: 5px;
  margin-top: 2rem;
  padding: 0.5em 4em;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
  border-style: none;
  cursor: pointer;
  background: #4d4d4d;
}

.standard-buy-now {
  border-radius: 5px;
  margin-top: 2rem;
  padding: 0.5em 4em;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
  border-style: none;
  cursor: pointer;
  background: #00A3FF;
}

.standard-buy-now:hover {
  border-radius: 5px;
  margin-top: 2rem;
  padding: 0.5em 4em;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
  border-style: none;
  cursor: pointer;
  background: #0082cc;
}

.pro-buy-now {
  border-radius: 5px;
  margin-top: 2rem;
  padding: 0.5em 4em;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
  border-style: none;
  cursor: pointer;
  background: #A02B98;
}

.pro-buy-now:hover {
  border-radius: 5px;
  margin-top: 2rem;
  padding: 0.5em 4em;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
  border-style: none;
  cursor: pointer;
  background: #c836be;
}

@media (max-width: 1400px) {
  .pricing-container {
    padding-top: 0.5rem;
    display: block;
  }

  .pricing-header {
    margin-top: 5rem;
    text-align: center;
  }
  .pricing-header div {
    padding: 1em;
  }

  .pricing-card-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pricing-card-container li {
    font-size: 18px;
    color: #666666;
    padding: 0.5em;
  }

  .card-basic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem 1rem;
    color: #222222;
    background-color: #FFFFFF;
    width: 30rem;
    border-style: none;
    border-radius: 15px;
    margin-bottom: 5rem;
    box-shadow: 0 0 20px rgba(204, 204, 204, 0.5);
    -webkit-box-shadow: 0 0 20px rgba(204, 204, 204, 0.5);
    -moz-box-shadow: 0 0 20px rgba(204, 204, 204, 0.5);
    width: auto;
    padding: 1.5rem;
  }

  .basic-header {
    font-size: 42px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #333333;
  }

  .card-standard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem 1rem;
    color: #222222;
    background-color: #FFFFFF;
    width: 30rem;
    border-style: none;
    border-radius: 15px;
    margin-bottom: 5rem;
    box-shadow: 0 0 20px rgba(204, 204, 204, 0.5);
    -webkit-box-shadow: 0 0 20px rgba(204, 204, 204, 0.5);
    -moz-box-shadow: 0 0 20px rgba(204, 204, 204, 0.5);
    width: auto;
    padding: 1.5rem;
  }

  .standard-header {
    font-size: 42px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #00A3FF;
  }

  .card-pro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem 1rem;
    color: #222222;
    background-color: #FFFFFF;
    width: 30rem;
    border-style: none;
    border-radius: 15px;
    margin-bottom: 5rem;
    box-shadow: 0 0 20px rgba(204, 204, 204, 0.5);
    -webkit-box-shadow: 0 0 20px rgba(204, 204, 204, 0.5);
    -moz-box-shadow: 0 0 20px rgba(204, 204, 204, 0.5);
    width: auto;
    padding: 1.5rem;
  }

  .pro-header {
    font-size: 42px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #A02B98;
  }
}
.testimonial-container {
  padding: 5rem 12rem;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  padding: 1rem;
  color: #333333;
  background-color: #FFFFFF;
  border-style: none;
  border-radius: 15px;
  box-shadow: 0 0 20px #233238;
  -webkit-box-shadow: 0 0 20px #233238;
  -moz-box-shadow: 0 0 20px #233238;
}

.testimonial-card-span-down {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  padding: 1rem;
  color: #333333;
  background-color: #FFFFFF;
  border-style: none;
  border-radius: 15px;
  box-shadow: 0 0 20px #233238;
  -webkit-box-shadow: 0 0 20px #233238;
  -moz-box-shadow: 0 0 20px #233238;
  grid-row: 1/3;
}

.testimonial-card-span-right {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  padding: 1rem;
  color: #333333;
  background-color: #FFFFFF;
  border-style: none;
  border-radius: 15px;
  box-shadow: 0 0 20px #233238;
  -webkit-box-shadow: 0 0 20px #233238;
  -moz-box-shadow: 0 0 20px #233238;
  grid-column: 2/4;
}

.testimonial-card-header {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.test-card-header-img {
  padding: 0;
}

.test-card-header-text {
  display: flex;
  flex-direction: column;
}

.test-card-title {
  font-size: 24px;
  font-weight: 600;
  color: #3C535C;
}

.test-card-subtitle {
  font-size: 18px;
  color: #666666;
}

.test-card-body {
  padding: 0.5em;
  font-size: 24px;
  color: #666666;
  text-align: left;
  line-height: 1.8em;
}

@media (max-width: 1400px) {
  .testimonial-container {
    margin-top: 2rem;
    padding: 1em;
  }

  .testimonial-grid {
    display: block;
  }

  .testimonial-card {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    padding: 1rem;
    color: #333333;
    background-color: #FFFFFF;
    border-style: none;
    border-radius: 15px;
    box-shadow: 0 0 20px #233238;
    -webkit-box-shadow: 0 0 20px #233238;
    -moz-box-shadow: 0 0 20px #233238;
    margin-bottom: 2rem;
  }

  .testimonial-card-span-down {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    padding: 1rem;
    color: #333333;
    background-color: #FFFFFF;
    border-style: none;
    border-radius: 15px;
    box-shadow: 0 0 20px #233238;
    -webkit-box-shadow: 0 0 20px #233238;
    -moz-box-shadow: 0 0 20px #233238;
    margin-bottom: 2rem;
  }

  .testimonial-card-span-right {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    padding: 1rem;
    color: #333333;
    background-color: #FFFFFF;
    border-style: none;
    border-radius: 15px;
    box-shadow: 0 0 20px #233238;
    -webkit-box-shadow: 0 0 20px #233238;
    -moz-box-shadow: 0 0 20px #233238;
    margin-bottom: 2rem;
  }
}
.docs-header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 3rem;
}

.docs-image {
  padding: 0;
}
.docs-image img {
  width: 60px;
}

.docs-content-header {
  text-align: center;
  max-width: 50%;
}

.docs-content-header-title {
  font-size: 64px;
  font-weight: 600;
}

.docs-content-first {
  text-align: center;
}

.docs-content-header-subtext {
  color: #cccccc;
}

.docs-main-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
}

.docs-navigation {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem;
  margin-top: 3rem;
  border-style: none;
  background-color: #32454d;
  height: fit-content;
}
.docs-navigation ul {
  padding-left: 1rem;
}
.docs-navigation ul li {
  color: #FFFFFF;
  list-style: none;
  background-image: url(../img/doc-tick.svg);
  background-position: left, center;
  background-repeat: no-repeat;
  line-height: 1.5em;
  padding: 0 1rem;
  cursor: pointer;
}
.docs-navigation ul li a, .docs-navigation ul li a:visited {
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  color: #FFFFFF;
}
.docs-navigation ul li a:hover, .docs-navigation ul li a:active {
  text-decoration: none;
  color: #00FFC2;
}

.doc-nav-header {
  font-size: 30px;
}

hr {
  color: #3C535C;
  border: none;
  margin: 1rem;
}

.docs-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 900px;
}

.docs-content-module {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0 2rem;
}

.docs-content-module-title {
  font-size: 30px;
  font-weight: 600;
  color: #0FA958;
}

.code-body {
  border-radius: 5px;
  display: block;
  font-family: "Fira Code", monospace;
  font-size: 400;
  font-weight: 300;
  color: #FFFFFF;
  line-height: 2rem;
  background-color: #28373d;
  border: 1px solid #1e292e;
  background-repeat: no-repeat;
  background-position: top right;
  padding: 2rem 2rem;
}

.code-purple {
  color: #A02B98;
  font-weight: 600;
}

.code-copy-container {
  float: right;
}
.code-copy-container img {
  opacity: 50%;
  cursor: pointer;
}
.code-copy-container img:hover {
  opacity: 100%;
}

#code-top-btn {
  display: block;
  width: 48px;
  height: 48px;
  background-color: rgba(34, 34, 34, 0);
  border-style: none;
  border-radius: 50%;
  position: fixed;
  bottom: 25%;
  right: 10%;
  z-index: 99;
  opacity: 50%;
  cursor: pointer;
}
#code-top-btn img {
  opacity: 75%;
}

@media (max-width: 810px) {
  .docs-header-container {
    padding: 1rem;
    padding-top: 10rem;
  }

  .docs-content-header {
    max-width: 100%;
  }

  .docs-content-header-title {
    font-size: 2rem;
  }

  .docs-main-container {
    margin-top: 0;
    display: block;
  }

  .docs-navigation {
    padding: 2rem;
  }

  .docs-content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    max-width: 100%;
  }
}
.contact-main-container {
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3C535C;
  min-height: 100vh;
}

.contact-main-header {
  max-width: 40%;
  text-align: center;
}

.contact-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10rem;
  gap: 10rem;
}

.contact-direct-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.contact-direct-card {
  display: flex;
  gap: 2rem;
}
.contact-direct-card img {
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(27, 27, 27, 0.25);
  -webkit-box-shadow: 0 0 20px rgba(27, 27, 27, 0.25);
  -moz-box-shadow: 0 0 20px rgba(27, 27, 27, 0.25);
}

.contact-direct-card-text {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 0.25rem;
}

.contact-title {
  color: #00FFC2;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  width: 100%;
  padding: 3rem;
  color: #333333;
  background-color: #FFFFFF;
  border-style: none;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(27, 27, 27, 0.5);
  -webkit-box-shadow: 0 0 20px rgba(27, 27, 27, 0.5);
  -moz-box-shadow: 0 0 20px rgba(27, 27, 27, 0.5);
}

.form-header {
  text-transform: uppercase;
  color: #666666;
}

.form-field {
  margin-top: 2rem;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  gap: 2.5rem;
}

#firstName, #lastName, #userEmail, #userMessage {
  width: 100%;
  border-style: none;
  border-bottom: 1px solid #666666;
  color: #333333;
  font-size: 24px;
  font-weight: 300;
  resize: none;
  padding: 0.5em;
}

.contact-form-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
}

.form-reset-btn {
  border-radius: 5px;
  margin-top: 1rem;
  padding: 0.5em 2em;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
  border-style: none;
  cursor: pointer;
  background: #666666;
}

.form-reset-btn:hover {
  border-radius: 5px;
  margin-top: 1rem;
  padding: 0.5em 2em;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
  border-style: none;
  cursor: pointer;
  background: gray;
}

.form-submit-btn {
  border-radius: 5px;
  margin-top: 1rem;
  padding: 0.5em 2em;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
  border-style: none;
  cursor: pointer;
  background: #A02B98;
}

.form-submit-btn:hover {
  border-radius: 5px;
  margin-top: 1rem;
  padding: 0.5em 2em;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
  border-style: none;
  cursor: pointer;
  background: #c836be;
}

@media (max-width: 1400px) {
  .contact-main-header {
    max-width: 90%;
  }

  .contact-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
    gap: 5rem;
  }

  .form-field {
    width: 100%;
  }
}
.blog-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  min-height: 100vh;
}

.blog-header-container {
  margin: 5rem auto;
}

.article-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
  margin-bottom: 5rem;
}

.article-display {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  color: #222222;
  background-color: #FFFFFF;
  padding: 1rem;
  box-shadow: 0 0 20px rgba(27, 27, 27, 0.5);
  -webkit-box-shadow: 0 0 20px rgba(27, 27, 27, 0.5);
  -moz-box-shadow: 0 0 20px rgba(27, 27, 27, 0.5);
}

.article-display-header {
  display: flex;
  flex-direction: column;
}

.article-content {
  padding: 0 0.5rem;
  font-size: 24px;
  color: #333333;
}

.article-title {
  padding: 0 0.5rem;
  color: #3C535C;
}

.article-category {
  border-radius: 5px;
  text-align: center;
  padding: 0.25rem 1rem;
  font-size: 18px;
  font-weight: 600;
  color: #666666;
  border: 1px solid #cccccc;
}

.article-date {
  font-family: "Fira Code", monospace;
  color: #666666;
  padding: 0 0.5rem;
}

.article-link-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.article-link {
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #333333;
  border-style: none;
  padding: 1em;
  cursor: pointer;
}

.article-link:hover {
  background-color: #666666;
}

.article-image {
  padding: 0;
}
.article-image img {
  border-radius: 10px;
  width: 100%;
  padding: 0.5rem;
}

.new-article-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 10rem 15rem;
  max-width: 70rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 400;
}

body {
  background-color: #3C535C;
  color: #FFFFFF;
}

h1 {
  font-size: 64px;
  font-weight: 800;
  color: #FFFFFF;
}

h1.pricing {
  font-size: 64px;
  font-weight: 800;
  color: #3C535C;
}

h2 {
  font-size: 42px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  color: #666666;
}

h4 {
  font-size: 30px;
  font-weight: 600;
}

.error-container {
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
}

.error-link {
  text-decoration: none;
  font-family: "Fira Code", monospace;
  font-size: 30px;
  color: #FFFFFF;
}

/*# sourceMappingURL=main.css.map */
